<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/Css/prog.css"> 
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
        <link rel="stylesheet" href="/Css/pagebody.css">
        <link rel="stylesheet" href="/FontAwesome/all.min.css" >
        <link rel="stylesheet" href="/FontAwesome/fontawesome.min.css">
        <script src="/Js/compose.js" async defer></script>
        <link rel="stylesheet" href="/Css/style.css">
       
    </head>
    <body>
        <my-header></my-header>
        <h2>Our Story</h2>
        <div class="mps">
                       <p class="m-ps">I have been living in decive and confusion for a very long in my life, and the irone about this is that, my belive system as been shaped and formed through the information i consumed, mean why majority of it are based on lies, politic and business greedness.
                           But how can we haelp the generation that is coming to grow up with the right information?
                       </p>
                   </div>
       
                       <h2>Our Vision</h2>
           <div class="mps">
                           <p class="m-ps">Our mision is to build a community of smart people that are well informed about what is going on in the society and their community, through proper and adquate informations.</p>
                       </div>
                       <h2>Our Mission</h2>
               <div class="mps">
                           <p class="m-ps">Building a highly informative eco-system that is safe for everyone to live on both old and young. A system where the young and little one can can get enlighten without  compromize or damage their mind without unfilter images or videos.</p>
                       </div>
       <div class="info-me">
                   
               <div class="viewlife">
                           <img class="image-me" src="/Image/damz.jpeg" alt="Damilola">
       
                       </div>
       
       
       
                    
       
                           <div class="mydetail">
       
                                   <p class="p-pp">My name is Adeoye Damilola am 26years old i lived in lagos state Nigeria, running my undergraduate degree at university of Ibadan distance learning center in lagos, but in my earlier education life, i received a National Deploma (ND) certificate at Gateway Polytechnic Ogun State Nigeria.After my (ND) life, i decided to learning more skills that is relevant in today's world in the area of sales, human relationship, full stack developer and also the understanding of the international stock market.
                                         </p>
                                         
                           </div>
            </div>
        
        <my-footer></my-footer>
    </body>
</html>