<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Skills Aquasiation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Css/prog.css"> 
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
        <script src="/Js/compose.js" async defer></script>
        <link rel="stylesheet" href="/Css/style.css">
        <link rel="stylesheet" href="/FontAwesome/all.min.css" >
        <link rel="stylesheet" href="/FontAwesome/fontawesome.min.css">
        <script src="/Js/main.js"></script>
    </head>
    <body id="css">
      <my-header></my-header>

      <div class="skill-cover">
        <div class="skill-inner">
            <my-nav></my-nav>
            
        </div>
        <div class="skill-inner1">
           <div class="skills-set">
        
        <div class="css">
            <div class="cssBody">
            <h1>what is css? </h1>
            <h2>
             <p> 1.  CSS is the language we use to style an HTML document.</p>

             <p> 2. CSS describes how HTML elements should be displayed.</p> 

              <p> 3. CSS stands for Cascading Style Sheets.</p>
              <p>4. CSS describes how HTML elements are to be displayed on screen, paper, or in other media </p>

                <p>5. CSS saves a lot of work. It can control the layout of multiple web pages all at once </p>
            </h2>
            
            </div>
             
               <div class="rule-css">
                <h2>Rules of using css framework.</h2>
                <span>
                    There are three method of using css in your work space.
                    <p class="frm-m">1. inline method </p>
                    <p class="frm-m">2. internal method </p>
                    <p class="frm-m">3. external method </p>
                </span>
                    <div class="text-flex">
                    <p class="flex1"><strong>Inline Method => </strong>  This method specify how you can style your element with <strong>CSS</strong>  using the attribute format.
                        An inline CSS is used to apply a unique style to a single HTML element.

                        An inline CSS uses the style attribute of an HTML element
                        <a class="attri-a" href="#">Don't know what attribute is? Check it out now.</a> </p>
                    <p class="flex2">
                        <strong>Internal Method => </strong>  An internal CSS is used to define a style for a single HTML page.

                        An internal CSS is defined in the head section of an HTML page, within a style element.
                    </p>

                    <p class="flex3">
                       <strong>External Method => </strong> 
                        An external style sheet is used to define the style for many HTML pages.

                        To use an external style sheet, add a link to it in the head section of each HTML page:
                    </p>
                    </div>
                
                    <h2>Css to be continue soon...</h2>

               </div>
        </div>
        </div>
      </div>

      
       
        
       <!-- <my-footer></my-footer> -->
    </body>
</html>