<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Css/pagebody.css">
        <script src="/Js/compose.js" async defer></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/Css/style.css">
        <link rel="stylesheet" href="/FontAwesome/all.min.css" >
        <link rel="stylesheet" href="/FontAwesome/fontawesome.min.css">
        <script src="/Js/main.js"></script>
        <link rel="stylesheet" href="/Css/prog.css"> 

        
    </head>
    <body >
        <my-header></my-header>

        
        <div class="container-fluid1">
           
       
            <div class="flex1" id="flex1">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" id="search-item" placeholder="Search" onkeyup="Search()" >
                    <button class="btn-but" type="submit">Search</button>
                  </form>

                <div class="google-Ads"><p>Google Ads we be here</p>
                    <img src="" alt="Google Ads">
                </div>
                <div class="carosel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/Image/tech pic.jpg" class="d-block " alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/Image/tech.jpg" class="d-block" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/Image/tech2.jpg" class="d-block" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/Image/tech3.jpg" class="d-block" alt="...">
                          </div>
                        </div>
                      </div>
                </div>
                <div class="Myclass">
                    <h2>News</h2>
                     <h4>(Jail) time ahead for the cryptocurrency industry</h4>
                    <p>                     
                      These particular developments can be seen as a desire of regulators worldwide to set legal practice around the new class of digital assets, and send a message to the ever-growing base of consumers of such products that they will be protected while entering this new arena.<a href="#"><button>Read more</button></a> </p>

                      <h4>Open source foundations unite to create common standards for Europe’s Cyber Resilience Act</h4>
                    <p>Seven leading open source foundations are collaborating to establish unified cybersecurity standards in response to Europe's Cyber Resilience Act, aiming to strengthen the software supply chain and ensure compliance with forthcoming regulations.<a href=""><button>Read more</button></a> </p>
                    <h4>Meta removes millions of pieces of harmful content in India</h4>
                    <p>The company received 18,512 reports on Facebook and 12,709 reports on Instagram through the Indian grievance mechanism.<a href=""><button>Read more</button></a></p>
                </div>           
                 
                
                   <div class="headline">
                    <h5> The impact of Ai in human life and how it can help in devloping our ecosystem. </h5>
                    </div>
                  <div class="show">
                   <img src="/Image/Ai.jpg" alt="Ai power">
                   
                   <img src="/Image/steve job.jpg" alt="Job Legecy">
                   
                 
                </div>

                <div class="workshow">
                    <h4>Below are the pragramming language used for this webpage. </h4>
                    <p>Html => which stand as our write up language for this project. Want to know more about HTML? <a href="./HtmlClass.html">Learn now</a> </p>
                    <p>Css => this is the component of this project that added beauty to our front page with some other frame work like <strong>Bootstrap.</strong> Want to know more about CSS? <a href="./CssClass.html">Learn more</a> </p>
                    <p>JavaScript => The scripting language that brought sense into this pretty work, JavaScript was used in this project to add some dynamic character to the front page. Want to know more about JavaScript?<a href="./Javascript.html">Learn more</a> </p>
                </div> 
            </div>

            <div class="flex">
                
                <div class="google-Ads"><p>Google Ads we be here</p>
                    <img src="" alt="Google Ads">
                </div>
                
                <div class="link">
                    <h1 class="h-1">Tutorial</h1>
                    <ul>
                    <a class="anh-a" href="/view/HtmlClass.html">Html</a>
                    <a class="anh-a" href="/view/CssClass.html">Css</a>
                    <a class="anh-a" href="#">Javascript</a>                    
                    <a class="anh-a" href="#">React.js</a>                  
                    <a class="anh-a" href="/view/BootstrapClass.html">Bootstrap</a>
                   
                    </ul>
                </div>
                <div class="google-Ads"><p>Google Ads we be here</p>
                    <img src="" alt="Google Ads">
                </div>
                
            </div>
            
        </div>
        
        <my-footer></my-footer>
        
    </body>
</html>